body {
	background-color: #333;
	margin: 0;
}

#map {
	width: 580px;
	height: 300px;
	display: inline-block;
	float: right;
}

#form-container {
	width: 600px;
	margin-left: 30px;
	padding: 10px;
	float: left;
	display: inline-block;
	background-color: #333;
	color: #53b6d0;
	border: 1px inset #53b6d0;
}

#start {
	float: left;
	/*display: inline-block;*/
	/*padding-bottom: 1em;*/
}

#end {
	float: right;
	/*display: inline-block;*/
	/*padding-bottom: 1em;*/
}